#navbar {
  width: 100vw;
  padding: 30px 40px 30px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo {
    &_appear_eff {
      &-enter-active {
        transition: all 1s ease-out;
      }

      &-enter-from {
        opacity: 0;
      }

      &-enter-to {
        opacity: 1;
      }
    }

    &_link {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #ffffff;
      line-height: 20px;

      &_name {
        transition: all 0.2s ease-out;
        transform-origin: center center;

        span:nth-child(-n+3) {
          display: inline-block;
          font-size: 30px;
          font-weight: 700;
        }
      
        span:nth-child(1) {
          color: #1391D2;
        }
      
        span:nth-child(2) {
          color: #FC9E15;
        }
      
        span:nth-child(3) {
          color: #E3403D;
        }

        &_appear_eff1 {
          &-enter-active {
            transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
          }
    
          &-enter-from {
            transform: scale(1.9);
          }
    
          &-enter-to {
            transform: scale(1);
          }
        }

        &_appear_eff2 {
          &-enter-active {
            transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
          }
    
          &-enter-from {
            transform: scale(1.6);
          }
    
          &-enter-to {
            transform: scale(1);
          }
        }

        &_appear_eff3 {
          &-enter-active {
            transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
          }
    
          &-enter-from {
            transform: scale(1.3);
          }
    
          &-enter-to {
            transform: scale(1);
          }
        }
      }
  
      &_inc {
        color: #262320;
        font-size: 20px;
        font-weight: 500;
      }
    }

    &:active .logo_link_name {
      transform: scale(0.8);
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    a {
      text-decoration: none;
      color: #262320;
      font-weight: 500;
      font-size: 18px;
      transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        width: 99%;
        height: 2px;
        background-color: #d36dec;
        transform: scaleX(0%);
        transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
        transform-origin: 100% 0;
      }
      &:hover {
        transform: scale(1.1);
      }
      &:hover::before {
        transform: scaleX(100%);
        transform-origin: 0 0;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }

  .user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .account {
      display: flex;
      flex-direction: row;
      gap: 10px;
  
      button {
        padding: 5px 20px 5px 20px;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
  
      &_login {
        border: none;
        background: none;
        border: solid 2px #FFFFFF;
        border-radius: 20px;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  
        &:hover {
          transform: scale(1.1);
          border-color: #f9e2ff;
        }
        &:active {
          transform: scale(0.9);
        }
      }
  
      &_register {
        background: none;
        border: solid 2px #E9E9E9;
        border-radius: 20px;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  
        &:hover {
          background: #f9e2ff;
          border-color: #f9e2ff;
          transform: scale(1.1);
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }

  .modal_show_eff {
    &-enter-active, &-leave-active {
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &-enter-from, &-leave-to {
      opacity: 0;
    }

    &-enter-to, &-leave-from {
      opacity: 1;
    }

  }
}