@font-face {
  font-family: 'NotoSan JP';
  src: url('/fonts/notosanjp/NotoSansJP-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSan JP';
  src: url('/fonts/notosanjp/NotoSansJP-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSan JP';
  src: url('/fonts/notosanjp/NotoSansJP-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSan JP';
  src: url('/fonts/notosanjp/NotoSansJP-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSan JP';
  src: url('/fonts/notosanjp/NotoSansJP-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

