* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  font-family: 'NotoSan JP', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
}

button {
  font-family: 'NotoSan JP', sans-serif !important;
}